@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --swiper-theme-color: #000;
}
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}
/* /* add font */
@font-face {
  font-family: inter;
  src: url(/font/inter.ttf);
}
@font-face {
  font-family: 'Icons Saaslify Template';
  src: url('https://assets.website-files.com/614319338322d2f96eb4dd96/614319338322d20acab4de40_icons-saaslify-template.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Somarsans';
  src: url('https://assets.website-files.com/614319338322d2f96eb4dd96/61df3584a1e80080467de4a7_SomarSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Somarsans';
  src: url('https://assets.website-files.com/614319338322d2f96eb4dd96/61df3584cfaf945f56963136_SomarSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Somarsans';
  src: url('https://assets.website-files.com/614319338322d2f96eb4dd96/61df35844e1ac4b24c7b07bb_SomarSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Somarsans';
  src: url('https://assets.website-files.com/614319338322d2f96eb4dd96/61df359806da051a8c73e30c_SomarSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* .navElements{
  box-sizing: border-box;
  font-family:  'inter', sans-serif;
} */


.landingImageRadius{
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  padding: 5px;
  position: relative;
  transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow: 5px 5px 10px rgb(71, 71, 71);
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    box-shadow: -5px 5px 20px rgb(116, 116, 116);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow: 5px 5px 10px rgb(53, 53, 53);
  }
}
